html {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 0, 179, 0.678),
    rgba(6, 231, 62, 0.788)
  );
  background-size: cover;
}

.gallery {
  margin: 0;
  padding: 0;
  border: 0;
  height: 60rem;
  width: 60rem;
  position: relative;
  margin: 0 auto;
  justify-content: center;
}

.background {
  position: absolute;
  height: 20rem;
  width: 12rem;
  transition: all 0.5s;
  outline-offset: 0.5rem;
  transform: scale(1.1);
}

.building {
  top: 14rem;
  left: 48rem;
}
 
.mountain {
  margin:auto;
  top: 14rem;
  left: 24rem;
}
 
.rainforest {
  top: 14rem;
  left: 0rem;
}
 
.river {
  top: 47rem;
  left: 48rem;
}
 
.road {
  top: 47rem;
  left: 24rem;
}
 
.stars {
  top: 47rem;
  left: 0rem;
}

.background:hover {
  transform: scale(1.5);
  outline: 0.05rem dotted #222;
  z-index: 2;
}

.building:hover{
  transform: scale(2.0);
  transition: .7s ease-in-out;
}

.mountain:hover{
	transform: rotate(30deg) scale(1.4);
  transition: .3s ease-in-out;
}

.rainforest:hover{
	opacity: 1;
	animation: flash 1.9s;
}

@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

.river:hover{
	filter: sepia(50%);
	transition: .6s ease-in-out;
}

.road:hover{
	opacity: .8;
	transition: .7s ease-in-out;
}

.stars:hover{
	filter: grayscale(50%);
	transition: .7s ease-in-out;
}

.rainforest:hover{
	transform: rotate(30deg) scale(1.4);
  transition: .3s ease-in-out;
}

.river:hover{
	transform: rotate(30deg) scale(1.4);
  transition: .3s ease-in-out;
}

.stars:hover{
	transform: rotate(30deg) scale(1.4);
  transition: .3s ease-in-out;
}

.road:hover{
	transform: rotate(30deg) scale(1.4);
  transition: .3s ease-in-out;
}